<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bse.Idao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.bse.entity.Role" >
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="r_name" property="rName" jdbcType="VARCHAR" />
    <collection property="jurisdictions" ofType="com.bse.entity.Jurisdiction">
    	<id column="j_id" property="jId" jdbcType="INTEGER" />
    	<result column="j_name" property="jName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select r.r_id,r.r_name,j.j_id,j.j_name from role r inner join role_jurisdiction rj on r.r_id=rj.r_id 
	 inner join jurisdiction j on rj.j_id=j.j_id
    where r.r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.bse.entity.Role" useGeneratedKeys="true" keyProperty="rId">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="rName != null" >
        r_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bse.entity.Role" >
    update role
    <set >
      <if test="rName != null" >
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultType="com.bse.entity.Role">
    select r_id rId, r_name rName
    from role limit #{pageIndex},#{pageSize}
  </select>
  <select id="selectTotalCount" resultType="int">
  	select count(*) from role
  </select>
</mapper>